.App{
    padding-bottom: 3em;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.App-dark{
    background-color: hsl(207, 26%, 17%);
}

.App-light{
    background-color: hsl(0, 0%, 98%);
}

body{
    font-family: 'Nunito Sans',
    sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.pad{
    padding: 0 7%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034) */
    box-shadow:0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
}

.header-dark, .load-dark{
    color: #ffffff;
    background-color: hsl(209, 23%, 22%);
}

.header-light, .load-light{
    color: hsl(200, 15%, 8%);
    background-color: #ffffff;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 3em 0;
    height: 56px;
    overflow: visible;
}

.search-parent{
    width: 40%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    box-shadow:0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
}

.search-parent-dark{
    background-color: hsl(209, 23%, 22%);
}
.search-parent-light{
    background-color: #ffffff;
}

#search-dark, #search-light{
    background: inherit;
    border: none;
    flex-grow: 1;
    outline: none;
    color: #ffffff;
}

.dark-container{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.dark-container:hover{
    cursor: pointer;
}

.fa-search{    
    font-size: 0.8em;
    padding: 0 2.5em;
}
.fa-search-light, .fa-times-light{
    color: hsl(200, 15%, 8%);
}
.fa-search-dark, .fa-times-dark{
    color: #fff;
}
.fa-moon{
    font-size: 0.7em;
}

#search-dark {
    -webkit-appearance: none;
    color: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
}
#search-light{
    color: hsl(0, 0%, 52%);
}

#search-dark::placeholder{
    color: #fff;
    font-family: 'Nunito Sans',
    sans-serif;
}

#search-light::placeholder{
    color: hsl(0, 0%, 52%);
    font-family: 'Nunito Sans',
    sans-serif;
}

.filter{
    display: flex;
    padding: 1em 1.5em;
    gap: 2em;
    align-items: center;
    border-radius: 4px;
    box-shadow:0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
}

.filter-light{
    background-color: #ffffff;
    color: hsl(200, 15%, 8%);
}

.filter-dark{
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.filter:hover{
    cursor: pointer;
}


.region-parent{
    border-radius: 4px;
    position: relative;
    box-shadow:0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%)
}

.region-parent-light {
    background-color: #fff;
}

.region-parent-dark{
    background-color: hsl(209, 23%, 22%)
}

.country-list-dark, .country-list-light{
    margin: 0.3em 0;
    padding: 0.5em 1.5em;
}

.li{
    list-style: none;
    padding: 0.2em 0;
    z-index: inherit;
}
.li:hover{
    cursor: pointer;
}

.li-dark {
    color: #fff;
}
.li-light{
    color: hsl(200, 15%, 8%);
}

.country-parent{
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 3rem;
}
.img-parent{
    width: 100%;
    height: 180px;
}
.img-parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
    vertical-align: bottom;
}
.country-info{
    border-radius: 4px;
    box-shadow: 0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%)
}

.country-info-dark {
    background-color: hsl(209, 23%, 22%);
}

.country-info-light {
    background-color: #ffffff;
}

.country-info img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.country-metadata{
    padding: 1.2em 1em 3em;
    border-radius: 4px;
}

.metadata-dark{
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;

}

.metadata-light {
    background-color: #ffffff;
    color: hsl(200, 15%, 8%);
}

.country-name{
    margin: 0 0 1em;
    font-size: 1.2em;
    font-weight: 600;
}

.rest{
    font-weight: 300;
    font-size: 0.8em;
    margin: 0.6em 0;
}
.value{
    opacity: .8;
}

.load-more-parent, .not-found{
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

button{
    box-shadow: 0 0 2.8px 2.2px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
}

.not-found{
    flex-direction: column;
    align-items: center;
}

.not-found-dark p{
    color:#ffffff;
}
.not-found-light p {
    color: hsl(200, 15%, 8%);
}

.load-more{
    font-family: 'Nunito Sans',
    sans-serif;
    padding: 1em 2.5em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.cancel{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 .5em;
    align-items: center;
    cursor: pointer;
}

.back{
    display: flex;
    justify-content: flex-start;
}

.back-btn{
    font-size: 1em;
    padding: 0.5em 0em;
    width: 9em;
}
.info-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(150px, 350px);
    column-gap: 5em;
}

.info-metadata-parent{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em 0;
}

.info-metadata-parent > p{
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}

.info-metadata-child{
    display: flex;
    justify-content: space-between;
}

.border-countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 0.6em;
    row-gap: 0.6em;
    margin: 1em 0 0;
}

.border-countries div{
    margin:0;
}

.border-countries div button{
    width: 100%;
    padding: 0.5em 0;
}

.info-image-parent img{
    width: 100%;
    box-shadow:1px 1px 5px 13px rgb(0 0 0 / 3%),
    0 0 6.7px 5.3px rgb(0 0 0 / 5%);
    vertical-align: bottom;
    object-fit: cover;
    height: 100%;
}
.info-dark{
    color: #fff;
}
.info-light{
    color: hsl(200, 15%, 8%);
}

.fa-arrow-left{
    margin: 0 1em 0 0;
}
.border {
    font-size: .7em;
}


/* LOADER STYLING */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple-dark div {
    border: 4px solid #fff;
}

.lds-ripple-light div {
    border: 4px solid hsl(200, 15%, 8%);
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loader{
    display: flex;
    justify-content: center;
}


/**************************************MEDIA QUERIES*********************************/





@media only screen and (max-width: 614px) {
   .country-parent{
       padding: 0 22%;
   }
}

@media only screen and (max-width: 470px) {
    header h3 {
        font-size: .9em;
    }

    .country-parent {
        padding: 0 18%;
    }

    .filter {
        gap: 0;
    }
    .fa-search {
        padding: 0 2em;
    }
}

@media only screen and (max-width: 405px) {
    .country-parent {
        padding: 0 16%;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
    .fa-search {
        padding: 0 1.5em;
    }
}

@media only screen and (max-width: 740px) {
    .header{
        height: 5em;
    }
    .country-list-dark, .country-list-light, .region-parent{
        width: 100%;
    }
    .country-parent{
        margin-top: 7.7em;
    }
    .filter{
        height: 3.2em;
        padding: 0 1.5em;
        width: 100%;
        justify-content: space-between;
    }
    .filter p, .li{
        font-size: .8em;
    }
    .filter-parent{
        width: 40%;
    }
    #search-dark, #search-light{
        height: 3.7em;
        border-radius: 4px;
    }
    .search-parent{
        height: 3.5em;
        margin: 0 0 2.3em;
        width: 100%;
    }
    .body{
        flex-direction: column;
        margin-top: 1.5em;
    }
}

