.App{
    padding-bottom: 3em;
}

.App-dark{
    background-color: hsl(207, 26%, 17%);
}

.App-light{
    background-color: hsl(0, 0%, 98%);
}

body{
    font-family: 'Nunito Sans',
    sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.pad{
    padding: 0 7%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    
}

.header-dark{
    color: #ffffff;
    background-color: hsl(209, 23%, 22%);
}

.header-light{
    color: hsl(200, 15%, 8%);
    background-color: #ffffff;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3em 0;
    height: 56px;
    overflow: visible;
}

.search-parent{
    height: 3.5em;
    width: 40%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
}

.search-parent-dark{
    background-color: hsl(209, 23%, 22%);
}
.search-parent-light{
    background-color: #ffffff;
}

#search-dark, #search-light{
    background: inherit;
    border: none;
    flex-grow: 1;
    outline: none;
    color: #ffffff;
}

.dark-container{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.dark-container:hover{
    cursor: pointer;
}

.fa-search{    
    font-size: 0.8em;
    padding: 0 2.5em;
}
.fa-search-light{
    color: hsl(200, 15%, 8%);
}
.fa-search-dark{
    color: #fff;
}
.fa-moon{
    font-size: 0.7em;
}

#search-dark{
    color: #ffffff;
}
#search-light{
    color: hsl(0, 0%, 52%);
}

#search-dark::placeholder{
    color: #fff;
    font-family: 'Nunito Sans',
    sans-serif;
}

#search-light::placeholder{
    color: hsl(0, 0%, 52%);
    font-family: 'Nunito Sans',
    sans-serif;
}

.filter{
    display: flex;
    padding: 1em 1.5em;
    gap: 2em;
    align-items: center;
    border-radius: 4px;
}

.filter-light{
    background-color: #ffffff;
    color: hsl(200, 15%, 8%);
}

.filter-dark{
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.filter:hover{
    cursor: pointer;
}


.region-parent{
    border-radius: 4px;
    position: relative;
}

.region-parent-light {
    background-color: #fff;
}

.region-parent-dark{
    background-color: hsl(209, 23%, 22%)
}

.country-list-dark, .country-list-light{
    margin: 0.3em 0;
    padding: 0.5em 1.5em;
}

.li{
    list-style: none;
    padding: 0.2em 0;
    z-index: inherit;
}
.li:hover{
    cursor: pointer;
}

.li-dark {
    color: #fff;
}
.li-light{
    color: hsl(200, 15%, 8%);
}

.country-parent{
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 3rem;
}
.country-info{
    border-radius: 4px;
}

.country-info-dark {
    background-color: hsl(209, 23%, 22%);
}

.country-info-light {
    background-color: #ffffff;
}

.country-info img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.country-metadata{
    padding: 1em 0.8em;
    border-radius: 4px;
}

.metadata-dark{
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;

}

.metadata-light {
    background-color: #ffffff;
    color: hsl(200, 15%, 8%);
}

#country-name{
    margin: 0 0 1em;
    font-size: 1.2em;
    font-weight: 600;
}

#rest{
    font-weight: 300;
    font-size: 0.9em;
}
#value{
    opacity: .8;
}
/* .country-info{
    display: inline-block;
} */